<ul>
  <% @shiurim.each do |shiur| %>
    <li>
      <a href="<%= url_for shiur %>"><strong><%= shiur.name %></strong></a>
      <br>Should take about <%= shiur.time %> of an hour.
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "New Shiur", new_shiur_path %>
</div>
